
section{
    display: block;
    /*height: 10000px;*/
    min-height: 1400px;
    padding: 50px;
    padding-left: 120px;
    padding-right: 30px;
    margin-bottom: 300px;
    margin-top: 30px;
    border-color: aqua;
}

.clearfix {
    clear:both;
}

body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-smoothing: antialised;
    font-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #00b7ab;
    
}

h2{
    color:#004e7a;
    margin: auto;
    
}



.intro{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-smoothing: antialised;
    font-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 950px;
    color: black;
    hyphens: auto;

}

.text_body{
    color:black;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-smoothing: antialiased;
    letter-spacing: .1px;
    line-height: 24px;
    margin-bottom: 30px;
    padding-top: 0;
    width: 270px;
    /*height: 416px;*/
    box-sizing: border-box;
    hyphens: auto;
    

}


.text_center{
    color: dimgray;
    font-family:"Open Sans", '300',sans-serif;
    font-size: 13px;
    text-align: center;
}

.titulos{
    margin: 0;
    font-family: 'Open Sans', light;
    font-size: 30px;

}


.image1{
    text-align: left;
}

.image2{
    text-align: center;
}

.image3{
    float: right;
    margin: 0px 0px 15px 15px;

}


#one{
    background:#ffffff;
    text-align: center;
    margin-left: 1cm;

    

  
}


/*GRELHA*/
#two{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
    
}

/*COR*/
#three{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
    
}

/*TIPOGRAFIA*/
#four{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
    
}


/*BOTÕES*/
#five{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}

/*MENUS*/
#six{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}

/*TABELAS*/
#seven{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}

/*ICONOGRAFIA*/
#eight{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}


/*MODULOS*/
#nine{

    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}


/*ESTRUTURA*/
#ten{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}

/*LAYOUT*/
#eleven{
    background:#ffffff;
    text-align: left;
    margin-left: 1cm;
}


nav{
    position: fixed;
}


nav a {
    text-decoration: none;
    display:block;
    font-size: 12px;
    color: #888888;
    text-align: center;
    background: #FFF;
    padding: 20px;
    margin 3px;
    box-shadow: 2px 2px 3px #888888;
}

a:hover{
    background-color:#D1D0CE;
    text-decoration: none;
    color: #FFF;
    
    /*#D1D0CE*/
}


a:focus{
    color:#00b7ab;
    text-decoration: none;
    font-weight:500;
    
}

/*.primarybtn{
    
    position: relative;
    width: 112.844px;
    height: 36px;
    padding: 0;
    background-color: #00bcd4;
    color: aliceblue; 
    overflow: hidden;
    border-radius: 1px;
    


}*/

